{{template "base" .}}

{{define "content"}}
	<div class="container">

		<div class="row">
			<div class="col">
				<img src="/static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room image">
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<h1 class="text-center mt-4">General's Quarters</h1>
				<p>
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				a retreat to replenish your soul. 
				</p>		
			</div>
		</div>
		
		<div class="row">
			<div class="col text-center">
				<a href="/make-reservation-gq" class="btn btn-success">Check Availability</a>
			</div>
		</div>
	</div>
{{end}}
