{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="mt-5">Search for Availability</h1>
                <form>
                    <div class="row g-3" id="reservation-dates">
                        </div>
                </form>
            </div>
        </div>

        <div class="row">
			<div class="col">
				<p>
					<button id="colorButton" class="btn btn-outline-secondary">Click me</button>
				</p>
			</div>
		</div>
    </div>
{{end}}

{{define "js"}}
<script>
    // This code now runs ONLY on this page, where it's needed.
    document.getElementById("colorButton").addEventListener("click", function(){
        let html = `
        <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
            <div class="row g-3 mb-4">
                <div class="col">
                    <div class="row g-3" id="reservation-dates-modal">
                        <div class="col">		
                            <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                        </div>
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                        </div>
                    </div>
                </div>		
            </div>
        </form>
    `	
        attention.custom({msg: html, title: "Choose your dates"});
    });

    const elem = document.getElementById('reservation-dates');
    const rangepicker = new DateRangePicker(elem, {
      format: "yyyy-mm-dd",
    });
</script>
{{end}}
